{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "Home/main.css"%}">
    <title>PennyWise</title>
</head>

<body>
    <nav>
        <div class="logo">
            <div class="logo-img"><img src="Images/wallet-3-line.svg" alt=""></div>
            <a class="app-name" href="#">Pennywise</a>
        </div>

        <div class="nav-links">
            <ul>
                <li><a href="{% url 'Expense-Tracking'%}" class="nav-link">Dashboard</a></li>
                <li><a href="{% url 'Budget'%}" class="nav-link">Budget</a></li>
                <li><a href="{% url 'Transactions'%}" class="nav-link">Transactions</a></li>
                <li><a href="{% url 'Report' %}" class="nav-link">Report</a></li>
                <li><a href="" class="nav-link logout-button">Logout</a></li>
            </ul>
        </div>
    </nav>

    <main class="budget">
        <div class="set-budget-form-container">
            <h2>Set your limits</h2>
            <form action="#">
                <div class="set-budget-form">
                    <div class="set-budget">
                        <label for="set-essentials">Essentials</label>
                        <input type="number" min = '0' d="set-essentials" name="essentials-budget">
                    </div>

                    <div class="set-budget">
                        <label for="set-lifestyle">Lifestyle</label>
                        <input type="number" min ='0' id="set-lifestyle" name="lifestyle-budget">
                    </div>

                    <div class="set-budget">
                        <label for="set-transportation">Transportation</label>
                        <input type="number" min = '0' id="set-transportation" name="transportation-budget">
                    </div>

                    <div class="set-budget">
                        <label for="set-savings">Savings</label>
                        <input type="number" min='0' id="set-savings" name="savings-budget">
                    </div>

                    <div class="set-budget-button">
                        <input type="submit" value="Save">
                    </div>

                </div>
            </form>
        </div>
    </main>
    <script src="app.js"></script>
</body>

</html>