{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "Home/main1.css" %}">
    <title>PennyWise</title>
</head>

<body>
    <nav>
        <div class="logo">
            <div class="logo-img"><img src="Images/wallet-3-line.svg" alt=""></div>
            <a class="app-name" href="#">Pennywise</a>
        </div>

        <div class="nav-links">
            <ul>
                <li><a href="{% url 'Expense-Tracking'%}" class="nav-link" style="color:rgb(158, 156, 170)">Dashboard</a></li>
                <li><a href="{% url 'Budget'%}" class="nav-link">Budget</a></li>
                <li><a href="{% url 'Transactions'%}" class="nav-link" style="color:white">Transactions</a></li>
                <li><a href="{% url 'Report' %}" class="nav-link">Reports</a></li>
                <li><a href="{% url 'logout' %}" class="nav-link logout-button">Logout</a></li>
            </ul>
        </div>
    </nav>
    <main class="reports">
        <h2>Reports</h2>
        <div>
            <section class="expense-summary">
                <div class="expense-summary-box total-spent">Total spent <span>Rs.10,000</span></div>
                <div class="expense-summary-box avg-daily-expense">Average daily spending <span>Rs.150</span></div>
            </section>

            <section class="spending-by-category-graph-container">
                <h3>Spending by Category</h3>
                <div class="spending-by-category-graph">
                    <div><span>Essentials</span>
                        <div class="essentials-bar">
                            <div></div>
                        </div>
                    </div>
                    <div><span>Lifestyle</span>
                        <div class="lifestyle-bar">
                            <div></div>
                        </div>
                    </div>
                    <div><span>Transactions</span>
                        <div class="transactions-bar">
                            <div></div>
                        </div>
                    </div>
                    <div><span>Savings</span>
                        <div class="savings-bar">
                            <div></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>

    <script src="app.js"></script>
</body>

</html>