/* Reset some default styles for better consistency */
body, h1, h2, h3, p, ul, li, form {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

/* Navigation Styles */
nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img img {
    height: 30px;
    margin-right: 10px;
}

.app-name {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-links ul {
    list-style-type: none;
    display: flex;
}

.nav-link {
    text-decoration: none;
    color: white;
    margin: 0 15px;
}

.logout-button {
    background-color: #c0392b; /* Red color for logout button */
    padding: 8px 15px;
    border-radius: 5px;
}

/* Main Content Styles */
.dashboard {
    padding: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Status Section Styles */
.status-container {
    margin-bottom: 15px;
}

.expense-status span,
.budget-status span {
    font-weight: bold;
    margin-left: 10px;
}

.budget-categories {
    display: flex;
    flex-direction: column;
}

/* Add Expense Form Styles */
.add-expense-form-container {
    margin-top: 30px;
}

.add-expense-form {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

button {
    background-color: #3498db;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    .nav-links {
        margin-top: 10px;
    }

    .nav-link {
        margin: 10px 0;
    }
}
